## Lists
- Python list is also a built-in data structure available in Python. It can contain heterogeneous values 
such as integers, floats, strings, tuples, lists, and dictionaries. 
However, Python lists are mutable; yes, they can change.

In [ ]:
list1 = [1, 2, "ade", ["apple", "banana"], 2.5]

In [ ]:
# creating a list with values
Avengers = ['hulk', 'iron-man', 'Captain', 'Thor', 5, ["Ali", "Simbi"]]

# empty list

## Unpacking list values

In [1]:
a, b = [1, 3]

In [2]:
a, b, c = [2, 3, 1]

## List operations
- In this section, you will learn slicing, accessing, adding, deleting, and updating the values in a list.

### Accessing list values
- In order to access list values, use list names with positional index in square brackets.

In [2]:
Avengers = ['hulk', 'iron-man', 'Captain', 'Thor', 5, ["Ali", "Simbi"]]

Avengers[::-1]
# accessing elements at different position in the list

[['Ali', 'Simbi'], 5, 'Thor', 'Captain', 'iron-man', 'hulk']

### Slicing the list
- The slicing of a list is the same as we did in tuples. See the syntax:

    
- $list-name$[start : stop : step]

In [4]:
Avengers = ['hulk', 'iron-man', 'Captain', 'Thor', 5, ["Ali", "Simbi"]]


# different examples of slicing



#list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13]


# move through the list in step of 3

## Updating the list
- Lists are mutable, so the values of a list can be updated.

In [6]:
Avengers = ['hulk', 'iron-man', 'Captain', 'Thor', 5, ["Ali", "Simbi"]]

# update the 3rd element to "Captain-America"
Avengers[2] = "Captain-America"

## Deleting values from a list
- By using the $del$ keyword, you can delete a value or a slice of list from the list.

In [5]:
C_W_team = ['hulk', 'iron-man', 'Captain-America', 'Thor',"Vision"]

# delete the first element from the list

#del C_W_team[0]
del C_W_team[0]
C_W_team

['iron-man', 'Captain-America', 'Thor', 'Vision']

In [10]:
#del C_W_team[2:4]

## Addition of Python Lists
- You can add two lists by using the + operator.

In [9]:
Avengers1 = ['hulk', 'iron-man', 'Captain-America', 'Thor']
Avengers2 = ["Vision","sam"]

# add the two lists
Avengers1.extend(Avengers2)
Avengers1

['hulk', 'iron-man', 'Captain-America', 'Thor', 'Vision', 'sam']

## Multiplication of lists
- By using the * operator, you can perform multiplication of Python lists.

In [6]:
Av = ['Vision', 'sam']

## in Operator
- You can use the in operator on list with the if statement.

In [14]:
Avengers= ['hulk', 'iron-man', 'Captain-America', 'Thor']

# write a program that checks if "iron-man" is in the list and displays "yes" if it is otherwise "no"


"hulk" in Avengers
# you can also check on "vision"
if "hulk" in Avengers:
    print("hulk is PRESENT in Avengers")
else:
    print("hulk is ABSENT in Avengers")


# you can also check on "vision"
if "vision" in Avengers:
    print("vision is PRESENT in Avengers")
else:
    print("vision is ABSENT in Avengers")

hulk is PRESENT in Avengers
vision is ABSENT in Avengers

## List functions
- In this section, we will discuss some Python built-in functions, which can be applied to a list.

In [8]:
# The len() function returns the number of elements or values in the list
Avengers = ['hulk', 'iron-man', 'Captain-America', 'Thor']


# The max (list) function returns the element of the list with the maximum value:
#list1 = [1, 2, 3, 4,510]

## list()
- You can easily convert a tuple into a list by using the list () function.

In [13]:
# convert the tuple to a list
name = "mohit raj"
tup1 = ("a","b","c")
tup2 = list(tup1)
tup2

['a', 'b', 'c']

## sorted()
- Python offers you a function to sort the list, called sorted ().

In [10]:
list1 = [2, 3, 0, 3, 1, 4, 7, 1]


# sort the list both in ascending and descending order

#tup1 = (2, 3, 0, 6, 1, 4, 7, 8)

list1.sort()
list1
sorted(list1)

## List Methods
- Here, we will discuss different methods that can be applied to a list.

## append()
- The syntax for the append () method is given as follows:
    - list.append () 

- The method adds a value at the end of the list.

In [11]:
Avengers = []

# Append ["iron-man", 'Thor'] to the empty list


# Also append "Captain-America"

## extend()
- If the goal is to add two lists together, and want the original list affected, then "extend()" is appropriate.
- The syntax for the extend () method is given as follows:
    - list1.extend (seq)

In [12]:
Avengers1 = ['hulk', 'iron-man', 'Captain-America', 'Thor']
Avengers2 = ["Vision","sam"]


# extend the first list by the second list

In [22]:
#Avengers1

## difference btw append and extend

In [13]:
Linux  = ["kali", "Ubuntu", "debian"]
Linux2 = ["RHEL", "Centos"]

# append the two lists

In [ ]:
# extend the lists

## sorted() and sort()

In [14]:
l1 = [3, 2, 3, 6, 9, 4, 50]
l1 = [3, 2, 3, 6, 9, 4, 50]
l1.sort() #calls sort() method on list l1. It directly affects the original list l1
l1
sorted(l1) #list l1 is passed into the function sorted(), this returns a new list
# sort the list using sort() and sorted()



# sort the list using sort() and sorted()

## insert()
- The syntax for the insert () method is given as follows:
    - list1.insert (index1, item)
    

- $index1$ is the position where the item needs to be inserted. The $item$ is the value to be inserted into list1.

In [143]:
A = ['iron-man', 'hulk', 'Thor']

# insert 'Captain-America' in the ist position 

A.insert(1,"Captain-America")
A

['iron-man', 'Captain-America', 'hulk', 'Thor']

## List Comprehensions
- List comprehension is a concise way of creating lists.

In [24]:
list1 = [2,3,4,5,6]
list2 = [i**3 for i in list1] #appends the cube of each element (i) in list1 as it iterates over them one after the other
# Write a program to get the cube of each number in the list

[8, 27, 64, 125, 216]

In [29]:
#  Write a program to get the square of the even numbers of the list below
list1 = [1,2,3,4,5,6, 7, 8, 9, 10]
list2 = [i**2 for i in list1 if i%2 == 0] #appends the square of numbers in list1 to list2 if the number is an even number
list2

[4, 16, 36, 64, 100]

## Range Function

In [31]:
# examples of range function
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

## Short exercise
- Given a list of 1 through 10, write a program to display the cube of the odd numbers

In [33]:
list1 = [i**3 for i in range(1, 11) if i%2 !=0] #appends the cube of the odd numbers between 1 and 10
list1

[1, 27, 125, 343, 729]

## Dictionaries
- In Python, a dictionary is a sequence of key-value, or item pairs separated by commas. 
- Consider the following example:
    - port = {22: "SSH", 23: "Telnet" , 53: "DNS", 80: "HTTP" } 
- The port variable refers to a dictionary that contains port numbers as keys and its protocol names as values. 
- Consider the following example:
    - companies = {"IBM": "International Business Machines", "L&T" :"Larsen & Toubro"} 
- The syntax of a dictionary is as follows:
    - Dictionary_name = {key: value}

## Accessing the values of dictionary
- In order to access the dictionary's values you will need the key.

In [36]:
port = {80: "HTTP", 23 : "Telnet", 443 : "HTTPS"} 

# get the key of value 23
port[23]

'Telnet'

## Deleting an item from the dictionary
- By using the $del$ keyword, you can delete the entire dictionary or the dictionary's items.

In [78]:
# delete an item in the dictionary
del port[80]
port

{23: 'Telnet', 443: 'HTTPS'}

## Updating the values of the dictionary
- Updating the dictionary is pretty simple; just specify the key in the square bracket along with the dictionary name. 
The syntax is as follows:
    - dict[key] = new_value

In [39]:
port = {80: "HTTP", 23 : "SMTP", 443 : "HTTPS"} 

# update the value of key 23 to "TELNET"
port[23] = "TELNET"

{80: 'HTTP', 23: 'TELNET', 443: 'HTTPS', 43: 'dd'}

## Adding an item to the dictionary
- Adding an item to the dictionary is very simple; just specify a new key in the square brackets along with the dictionary.

In [40]:
# add key:value (110:'POP') to the dictionary above

port [43] = "dd"
port

{80: 'HTTP', 23: 'TELNET', 443: 'HTTPS', 43: 'dd'}

## Dictionary functions

In [41]:
# In order to find the number of items that are present in a dictionary, you can use the len() function.

len(port)

4

In [43]:
# convert list to a dictionary
port = [[80,"http"],[20,"ftp"],[23,"telnet"],[443,"https"],[53,"DNS"]] 
dict(port)

{80: 'http', 20: 'ftp', 23: 'telnet', 443: 'https', 53: 'DNS'}

## items()
- The items() method returns the list of dictionary's (key, value) tuple pairs.

In [47]:
dict1 = {1: 'one', 2:'two', 3:'three'}

# get the keys and values of the dictionary
dict1.items()
dict1.keys()
dict1.values()

# we can also get the items

dict_values(['one', 'two', 'three'])

## in Operator
- The in operator can be used to find the existence of a key in the dictionary.

In [51]:
port1 = {21: "FTP", 22:"SSH", 23: "telnet", 80: "http"} 
"FTP" in port1.keys()

# write a program to collect an integer key from a user, if the key is in the port, then print yes otherwise no

False

## Python Dictionary with for loop

In [54]:
port1 = {21: "FTP", 22 :"SSH", 23: "telnet", 80: "http"} 

for k, v in port1.items():
    print(k, ":", v)

21 : FTP
22 : SSH
23 : telnet
80 : http

## Exercise
-  Write a program using the following list and sort it based on the sum of the values of the tuples of the list:
    - [(1,5),(9,0),(12,3),(5,4),(13,6),(1,1)]

    
-  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order
and list2 in reverse order:
    - list1 = [10, 20, 30, 40], list2 = [100, 200, 300, 400]



-  Write a Python program to count the number of strings where the string length is 2 or more and 
the first and last character are same from a given list of strings:
    - ['abc', 'xyz', 'aba', '1221', 'bhgsskknb', 'aa'] 
    
- Given a list of 1 through 10, write a program to display the square root of the even numbers

- write a program such that $list1$ will act as keys while $list2$ will act as the values of the dictionary:
    - list1 = [1, 2, 3, 4, 5], list2 = ["a", "b", "c","d", "e"]

In [59]:
list1 = [(1,5),(9,0),(12,3),(5,4),(13,6),(1,1)] #question 1
list2 = [sum(i) for i in list1] #appends the sum of each tuple in the list1 to list2
sorted(list2) #sorts and prints the element in list2

[2, 6, 9, 9, 15, 19]

In [84]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i in sorted(list1), sorted(list2, reverse = True):
    print(i)

[10, 20, 30, 40]
[400, 300, 200, 100]

In [100]:
list1 = ['abc', 'xyz', 'aba', '1221', 'bhgsskknb', 'aa']
list2 = [i for i in list1 if len(i)>1 and i[0] == i[-1]]
len(list2)

4

In [108]:
list3 = [i**(1/2) for i in range(1, 11) if i%2 == 0]
list3

[1.4142135623730951,
 2.0,
 2.449489742783178,
 2.8284271247461903,
 3.1622776601683795]

In [111]:
import math
list3 = [math.sqrt(i) for i in range(1, 11) if i%2 == 0]
list3

[1.4142135623730951,
 2.0,
 2.449489742783178,
 2.8284271247461903,
 3.1622776601683795]

In [144]:
list1 = [1, 2, 3, 4, 5]
list2 = ["a", "b", "c","d", "e"]
dict1 = {}
for i in range(len(list1)):
    dict1[list1[i]] = list2[i]
dict1

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}